.page-header{
    background-image: url('../../../public/img/Detailcoursesheaderbgimg.png');
    background-size: cover;
    height: 325px;
}

.CCDetails-Header-main{
    display: flex;
    background-image: url('../../../public/img/Detailcoursesheaderbgimg.png');
    background-size: cover;
    height: 325px;
}

.CCDetails-Header-content-left{
    margin-top: 32px;
    width: 55%;
}

.CCDetails-Header-content-row1 h2{
    font-weight: 600;
    font-size: 32px;
    text-align: left;
    color: #fff;
}

.CCDetails-Header-content-row2{
    display: flex;
    gap: 25px;
    margin: 14px 41px 14px 0;
}

.CCDetails-Header-content-row2-clock{
    display: flex;
    align-items: center;
}

.CCDetails-Header-content-row2-clock img{
    width: 15px;
    margin-right: 3px;
}

.CCDetails-Header-content-row2-clock p{
    font-size: 11px;
    font-weight: 400;
    color: #9D9D9D;
}

.CCDetails-Header-content-row2-hat{
    display: flex;
    align-items: center;
}

.CCDetails-Header-content-row2-hat img{
    width: 17px;
    margin-right: 3px;
}

.CCDetails-Header-content-row2-hat p{
    font-size: 11px;
    font-weight: 400;
    color: #9D9D9D;
}

.CCDetails-Header-content-row2-level{
    display: flex;
    align-items: center;
}

.CCDetails-Header-content-row2-level img{
    width: 12px;
    margin-right: 3px;
}

.CCDetails-Header-content-row2-level p{
    font-size: 11px;
    font-weight: 400;
    color: #9D9D9D;
}

.CCDetails-Header-content-row2-files{
    display: flex;
    align-items: center;
}

.CCDetails-Header-content-row2-files img{
    width: 12px;
    margin-right: 3px;
}

.CCDetails-Header-content-row2-files p{
    font-size: 11px;
    font-weight: 400;
    color: #9D9D9D;
}

.CCDetails-Header-content-row2-faq{
    display: flex;
    align-items: center;
}

.CCDetails-Header-content-row2-faq img{
    width: 12px;
    margin-right: 3px;
}

.CCDetails-Header-content-row2-faq p{
    font-size: 11px;
    font-weight: 400;
    color: #9D9D9D;
}