.page-header {
  background-image: url("../../../public/img/Detailcoursesheaderbgimg.png");
  background-size: cover;
  height: 325px;
}

.CCDetails-Header-main {
  display: flex;
  background-image: url("../../../public/img/Detailcoursesheaderbgimg.png");
  background-size: cover;
  height: 325px;
}

.CCDetails-Header-content-leftqw {
  margin-top: 32px;
  width: 55%;
}

.CCDetails-Header-content-row1qw h2 {
  font-weight: 600;
  font-size: 36px;
  text-align: left;
  color: #fff;
}

.CCDetails-Header-content-row2 {
  display: flex;
  justify-content: space-between;
  margin: 14px 41px 14px 0;
}

.CCDetails-Header-content-row2-clock {
  display: flex;
  align-items: center;
}

.CCDetails-Header-content-row2-clock img {
  width: 15px;
  /* margin-right: 3px; */
}

.CCDetails-Header-content-row2-clock p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  color: #9d9d9d;
}

.CCDetails-Header-content-row2-hat {
  display: flex;
  align-items: center;
}

.CCDetails-Header-content-row2-hat img {
  width: 17px;
  /* margin-right: 3px; */
}

.CCDetails-Header-content-row2-hat p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  color: #9d9d9d;
}

.CCDetails-Header-content-row2-level {
  display: flex;
  align-items: center;
}

.CCDetails-Header-content-row2-level img {
  width: 12px;
  /* margin-right: 3px; */
}

.CCDetails-Header-content-row2-level p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  color: #9d9d9d;
}

.CCDetails-Header-content-row2-files {
  display: flex;
  align-items: center;
}

.CCDetails-Header-content-row2-files img {
  width: 12px;
  /* margin-right: 3px; */
}

.CCDetails-Header-content-row2-files p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  color: #9d9d9d;
}

.CCDetails-Header-content-row2-faq {
  display: flex;
  align-items: center;
}

.CCDetails-Header-content-row2-faq img {
  width: 12px;
  /* margin-right: 3px; */
}

.CCDetails-Header-content-row2-faq p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  color: #9d9d9d;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {

  .page-header {
    height: 100px;
  }

  .CCDetails-Header-main {
    height: 100px;
  }

  .CCDetails-Header-content-leftqw {
    width: 70%;
  }

  .CCDetails-Header-content-row1qw h2 {
    font-size: 12px;
  }

  .CCDetails-Header-content-row2 {
    gap: 3px;
    margin: 4px 0;
    display: flex;
    flex-wrap: wrap;
  }

  .CCDetails-Header-content-row2-clock p {
    font-size: 6px !important;
  }

  .CCDetails-Header-content-row2-hat p {
    font-size: 6px !important;
  }

  .CCDetails-Header-content-row2-level p {
    font-size: 6px !important;
  }

  .CCDetails-Header-content-row2-files p {
    font-size: 6px !important;
  }

  .CCDetails-Header-content-row2-faq p {
    font-size: 6px !important;
  }
}