/* .hero {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 88.551%,
    100% 88.551%,
    99.525% 88.872%,
    98.09% 89.742%,
    95.677% 91.024%,
    92.27% 92.581%,
    87.852% 94.275%,
    82.405% 95.97%,
    75.913% 97.527%,
    68.36% 98.809%,
    59.728% 99.679%,
    50% 100%,
    50% 100%,
    40.272% 99.679%,
    31.64% 98.809%,
    24.087% 97.527%,
    17.595% 95.97%,
    12.148% 94.275%,
    7.73% 92.581%,
    4.323% 91.024%,
    1.91% 89.742%,
    0.475% 88.872%,
    0% 88.551%,
    0% 0%
  );
} */
/* .herobox {
  clip-path: polygon(
    90.037% 55.958%,
    90.037% 55.958%,
    94.891% 53.715%,
    97.974% 50.747%,
    99.561% 47.205%,
    99.924% 43.24%,
    99.339% 39.004%,
    98.078% 34.647%,
    96.416% 30.321%,
    94.626% 26.177%,
    92.983% 22.366%,
    91.759% 19.04%,
    91.759% 19.04%,
    90.595% 16.542%,
    88.969% 14.948%,
    86.916% 14.008%,
    84.467% 13.469%,
    81.657% 13.081%,
    78.519% 12.591%,
    75.085% 11.749%,
    71.39% 10.303%,
    67.466% 8.001%,
    63.346% 4.593%,
    63.346% 4.593%,
    60.017% 1.936%,
    56.978% 0.557%,
    54.14% 0.244%,
    51.413% 0.781%,
    48.709% 1.955%,
    45.938% 3.549%,
    43.011% 5.351%,
    39.839% 7.145%,
    36.332% 8.717%,
    32.402% 9.853%,
    32.402% 9.853%,
    27.303% 11.328%,
    22.471% 13.574%,
    17.963% 16.491%,
    13.835% 19.981%,
    10.144% 23.948%,
    6.944% 28.292%,
    4.292% 32.915%,
    2.245% 37.72%,
    0.859% 42.609%,
    0.189% 47.482%,
    0.189% 47.482%,
    0.248% 52.54%,
    0.967% 57.954%,
    2.278% 63.584%,
    4.112% 69.291%,
    6.401% 74.933%,
    9.078% 80.372%,
    12.075% 85.467%,
    15.323% 90.078%,
    18.755% 94.065%,
    22.303% 97.289%,
    22.303% 97.289%,
    25.216% 99.012%,
    28.185% 99.796%,
    31.159% 99.774%,
    34.085% 99.08%,
    36.912% 97.845%,
    39.586% 96.202%,
    42.056% 94.285%,
    44.27% 92.225%,
    46.176% 90.156%,
    47.721% 88.211%,
    47.721% 88.211%,
    49.784% 84.302%,
    52.115% 79.403%,
    54.793% 73.943%,
    57.899% 68.349%,
    61.514% 63.049%,
    65.718% 58.473%,
    70.592% 55.047%,
    76.216% 53.201%,
    82.671% 53.362%,
    90.037% 55.958%
  );
} */

/* .hero {
  clip-path: polygon(
    49.612% 86.811%,
    49.612% 86.811%,
    42.442% 92.337%,
    35.382% 96.225%,
    28.462% 98.63%,
    21.714% 99.706%,
    15.171% 99.604%,
    8.863% 98.478%,
    2.822% 96.483%,
    -2.919% 93.771%,
    -8.33% 90.496%,
    -13.379% 86.811%,
    -13.379% -1.01%,
    119.319% -5.769%,
    119.319% -5.769%,
    120.715% 13.125%,
    122.008% 30.022%,
    123.088% 44.868%,
    123.85% 57.609%,
    124.185% 68.191%,
    123.988% 76.559%,
    123.15% 82.659%,
    121.566% 86.437%,
    119.127% 87.839%,
    115.726% 86.811%,
    115.726% 86.811%,
    110.632% 83.88%,
    105.155% 80.912%,
    99.31% 78.167%,
    93.117% 75.901%,
    86.593% 74.372%,
    79.755% 73.839%,
    72.62% 74.558%,
    65.206% 76.788%,
    57.531% 80.786%,
    49.612% 86.811%
  );
} */


.hero{
  clip-path: polygon( 0% 0%,100% 0%,100% 88.551%,100% 88.551%,99.525% 88.872%,98.09% 89.742%,95.677% 91.024%,92.27% 92.581%,87.852% 94.275%,82.405% 95.97%,75.913% 97.527%,68.36% 98.809%,59.728% 99.679%,50% 100%,50% 100%,40.272% 99.679%,31.64% 98.809%,24.087% 97.527%,17.595% 95.97%,12.148% 94.275%,7.73% 92.581%,4.323% 91.024%,1.91% 89.742%,0.475% 88.872%,0% 88.551%,0% 0% );}
.herobox{
  clip-path: polygon( 90.037% 55.958%,90.037% 55.958%,94.891% 53.715%,97.974% 50.747%,99.561% 47.205%,99.924% 43.24%,99.339% 39.004%,98.078% 34.647%,96.416% 30.321%,94.626% 26.177%,92.983% 22.366%,91.759% 19.04%,91.759% 19.04%,90.595% 16.542%,88.969% 14.948%,86.916% 14.008%,84.467% 13.469%,81.657% 13.081%,78.519% 12.591%,75.085% 11.749%,71.39% 10.303%,67.466% 8.001%,63.346% 4.593%,63.346% 4.593%,60.017% 1.936%,56.978% 0.557%,54.14% 0.244%,51.413% 0.781%,48.709% 1.955%,45.938% 3.549%,43.011% 5.351%,39.839% 7.145%,36.332% 8.717%,32.402% 9.853%,32.402% 9.853%,27.303% 11.328%,22.471% 13.574%,17.963% 16.491%,13.835% 19.981%,10.144% 23.948%,6.944% 28.292%,4.292% 32.915%,2.245% 37.72%,0.859% 42.609%,0.189% 47.482%,0.189% 47.482%,0.248% 52.54%,0.967% 57.954%,2.278% 63.584%,4.112% 69.291%,6.401% 74.933%,9.078% 80.372%,12.075% 85.467%,15.323% 90.078%,18.755% 94.065%,22.303% 97.289%,22.303% 97.289%,25.216% 99.012%,28.185% 99.796%,31.159% 99.774%,34.085% 99.08%,36.912% 97.845%,39.586% 96.202%,42.056% 94.285%,44.27% 92.225%,46.176% 90.156%,47.721% 88.211%,47.721% 88.211%,49.784% 84.302%,52.115% 79.403%,54.793% 73.943%,57.899% 68.349%,61.514% 63.049%,65.718% 58.473%,70.592% 55.047%,76.216% 53.201%,82.671% 53.362%,90.037% 55.958% );
}
.bgcurvehome{
  background-image: url('../../../public/bgcurve.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.scale-in-center
{
  animation:scale-in-center 1s cubic-bezier(.25,.46,.45,.94) both ;

}

  
  @keyframes scale-in-center{
    0%{transform:scale(0);opacity:1}
  100%{transform:scale(1);opacity:1}}