.papphone input{
    background-color: #00000014;
    outline: none;
    border-radius: 6px;
    overflow: hidden;
    padding: 6px;
}
.rotate-up {
    transform: rotate(180deg);
  }
  
  .rotate-down {
    transform: rotate(0deg);
  }
  