.pap_curve_bg {
  clip-path: polygon(
    0% 23.563%,
    0% 23.563%,
    4.31% 20.555%,
    8.892% 18.272%,
    13.708% 16.633%,
    18.721% 15.556%,
    23.894% 14.96%,
    29.19% 14.764%,
    34.571% 14.886%,
    39.999% 15.245%,
    45.439% 15.76%,
    50.851% 16.349%,
    50.851% 16.349%,
    57.218% 17.034%,
    63.431% 17.572%,
    69.426% 17.824%,
    75.141% 17.653%,
    80.511% 16.919%,
    85.475% 15.486%,
    89.968% 13.215%,
    93.928% 9.97%,
    97.291% 5.61%,
    99.994% 0%,
    99.994% 0%,
    99.994% 0.231%,
    99.995% 0.461%,
    99.995% 0.691%,
    99.995% 0.921%,
    99.996% 1.15%,
    99.996% 1.378%,
    99.997% 1.607%,
    99.998% 1.835%,
    99.999% 2.062%,
    100% 2.289%,
    100% 89.946%,
    100% 89.946%,
    97.472% 91.761%,
    94.533% 93.445%,
    91.153% 94.95%,
    87.301% 96.228%,
    82.948% 97.231%,
    78.063% 97.91%,
    72.616% 98.217%,
    66.576% 98.104%,
    59.913% 97.523%,
    52.597% 96.426%,
    52.597% 96.426%,
    43.942% 95.076%,
    36.163% 94.253%,
    29.216% 93.902%,
    23.054% 93.966%,
    17.631% 94.389%,
    12.901% 95.113%,
    8.819% 96.083%,
    5.339% 97.243%,
    2.415% 98.534%,
    0% 99.902%,
    0% 23.563%
  );
  z-index: -1;
  background: radial-gradient(
    101.63% 238.93% at 78.43% 69.81%,
    #0f2027 0%,
    #0b1418 0.01%,
    #203a43 100%
  );
}

.papphone input {
  background-color: #00000014;
  outline: none;
  border-radius: 6px;
  overflow: hidden;
  padding: 6px;
}
.rotate-up {
  transform: rotate(180deg);
}

.rotate-down {
  transform: rotate(0deg);
}
