
.front:hover .back{
    display: block;
}
.back{
    display: none;
}
.afterclick{
    background-color: #1FC074;
    color: white;
    font-size: 22px;
    /* border-radius: 9999px; */
    transition: all 0.4s ease-in-out;
}
.beforeclick{
    background-color: transparent;
    color: #333333;
    font-size: 22px;
    transition: all 0.4s ease-in-out;
}
.coursecardhome{
    /* box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19) !important; */
    /* box-shadow: 5px 5px 5px black ; */
}