@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

h2{
    font-family: outfit;
    text-align: center;
}

.content-para{
    font-family: montserrat;
    text-align: center;
    padding: 13px 113px;
}


.banner-one img{
    padding: 0 18px;
}
.banner-two img{
    padding: 0 16.5px;
}
.banner-three img{
    padding: 0 18px;
}

.img-items{
    width: 170px;
    height: 70px;
} 

.banner-one {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 60px;
  margin: 0 40px;
  overflow: hidden;
  white-space: nowrap;
}

.banner-one-img{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  animation: scroll 17s linear infinite;
}

.banner-two {
    display: flex;
    flex-direction: row;
    width: 87%;
    height: 60px;
    margin-left: 75px;
    overflow: hidden;
    white-space: nowrap;
}

.banner-two-img {
      display: flex;
      flex-direction: row;
      margin-top: 5px;
      animation: scroll2 17s linear infinite;
      left: -97%;
      position: relative;
}
  
.banner-three {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 60px;
  margin: 0 40px;
  overflow: hidden;
  white-space: nowrap;
}

.banner-three-img {
  display: inline-block;
  margin-top: 5px;
  animation: scroll 27.8s linear infinite;
}

@keyframes scroll{
  100% { 
    transform: translateX(-100%); 
  }
}

@keyframes scroll2{

  100%   { 
    transform: translateX(100%); 
  }
  0%{
    transform: translateX(0%);
  }
}