.slider-container {
    position: relative;
    height: 60px    ; /* Adjust height as needed */
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    transition: transform 0.5s ease-in-out;
}

.logo.active {
    transform: translateX(-50%) translateY(0);
}


@media screen and (min-width: 320px) and (max-width: 480px) {

    .slider-container{
        height: 20px;
    }
}