@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.instructor {
  border-radius: 0 0 20px 20px;
  /* padding: 24px 30px; */
  gap: 10px;
  /* min-height: 425px; */
}

.instructor-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: black; */
  /* gap: 24px; */
}

.instructor-image {
  width: 20%;
  height: 10%;
  /* background-color: black; */
  margin-right: 40px;
}

.instructor-image img {
  border-radius: 20px;
  height: 80%;
  width: 100%;
}

.instructor-content > :nth-child(1) {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  font-family: Montserrat;
}

.instructor-content > :nth-child(2) {
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  font-family: Montserrat;
}

.instructor-content .students {
  display: flex;
  gap: 10px;
  align-items: center;
}

.instructor-content .students img {
  height: 16px;
  width: 16px;
}

.instructor-content .students p {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: black;
  font-family: Jost;
}

.instructor-content .lessons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.instructor-content .lessons img {
  height: 16px;
  width: 16px;
}

.instructor-content .lessons p {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: black;
  font-family: Jost;
}

.instructor > p {
  margin-top: 15px;
  font-weight: 400;
  color: black;
  font-family: Nunito Sans;
  font-size: 14px;
}

.instructor .links {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.instructor .links p {
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: black;
  font-family: Jost;
}

.instructor .links img {
  width: 16px;
  height: 16px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .instructor {
    padding: 10px 8px;
    min-height: 0;
  }
  .instructor-content > :nth-child(1) {
    font-size: 12px;
    line-height: 14px;
  }
  .instructor-content .students p {
    font-size: 10px;
  }
  .instructor-content .lessons p {
    font-size: 10px;
  }
  .instructor-content .students img {
    height: 12px;
    width: 12px;
  }
  .instructor-content .lessons img {
    height: 12px;
    width: 12px;
  }
  .instructor > p {
    font-size: 12px;
  }
  .instructor .links p {
    font-size: 12px;
  }
  .instructor .links img {
    width: 10px;
    height: 10px;
  }
}

@media (min-width: 720px) and (max-width: 1024px) {
  .instructor {
    padding: 16px 20px;
    min-height: 0;
  }
  .instructor-content > :nth-child(1) {
    font-size: 16px;
  }
  .instructor-content .students p {
    font-size: 12px;
  }
  .instructor-content .lessons p {
    font-size: 12px;
  }
  .instructor-content .students img {
    height: 14px;
    width: 14px;
  }
  .instructor-content .lessons img {
    height: 14px;
    width: 14px;
  }
  .instructor > p {
    font-size: 12px;
  }
  .instructor .links p {
    font-size: 10px;
  }
  .instructor .links img {
    width: 10px;
    height: 10px;
  }
}
