.instructor{
    border-radius: 0 0 20px 20px;
    padding: 12px 30px;
    gap: 10px;
    background-color: #F5F5F5;
}

.instructor-container{
    display: flex;
    gap: 24px;
}

.instructor-image{
    width: 180px;
    height: 180px;
    margin-top: 20px;
}

.instructor-image img{
    border-radius: 20px;
}


.instructor-content > :nth-child(1) {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
}
  
.instructor-content > :nth-child(2) {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    margin-bottom: 10px;
}


.instructor-content .students{
    display: flex;
    gap: 10px;
    align-items: center;
}

.instructor-content .students img{
    height: 16px;
    width: 16px;
}

.instructor-content .students p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.instructor-content .lessons{
    display: flex;
    gap: 10px;
    align-items: center;
}

.instructor-content .lessons img{
    height: 16px;
    width: 16px;
}


.instructor-content .lessons p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.instructor > p{
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    font-family: "Jost ";
    color: #555555;
    margin-bottom: 0;
}

.instructor .links{
    display: flex;
    gap: 12px;
    align-items: center;
}

.instructor .links p{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: "Jost";
    color: #555555;
}

.instructor .links img{
    width: 18px;
    height: 18px
}