@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.CCD-content {
  width: 100%;
  height: 80vh;
  background-color: white;
  /* display: flex; */
  /* flex-direction: row; */
}

.CCD-content-left {
  margin: 0px 0 0 0px;
  width: 100%;
  height: 100%;
}

.CCDetails-Header-content-right {
  min-height: fit-content;
  background-color: #fff;
}

.CCDetails-Header-content-right-list-heading p {
  font-family: "Montserrat";
  font-weight: 600;
  padding: 10px 0 10px 18px;
  border: 2px solid #eaeaea;
  border-bottom: none;
}

.CCDetails-Header-content-right-list-course { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 16px;
  border: 2px solid #eaeaea;
  border-bottom: none;
  cursor: pointer;
}

.CCDetails-Header-content-right-list:last-child {
  border-bottom: 2px solid #eaeaea;
}
.CCDetails-Header-content-right-list-course-left {
  width: 369px;
}

.CCDetails-Header-content-right-list-course-list-video1 {
  margin: 20px;
}

.CCDetails-Header-content-right-list-course-left-row2 {
  display: flex;
  width: 100%;
  padding-right: 10px;
}
.CCDetails-Header-content-right-list-course-left-row1 p {
  font-family: Montserrat;
  font-weight: 600;
  padding-right: 10px;
  font-size: 14px;
}

.CCDetails-Header-content-right-list-course-left-row1 {
  width: 230px;
}

.CCDetails-Header-content-right-list-course-left-row2 p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  padding: 6px 17px 0 0;
  color: #555555;
}

.CCDetails-Header-content-right-list-course-right button {
  background-color: #fff;
  border: none;
}

.outer-wrapper {
  border-top: 2px solid #eaeaea;
  display: none;
}

.CCDetails-Header-content-right-list-course-list-video1-row1 {
  display: flex;
  align-items: center;
  height: 20px;
}

.CCDetails-Header-content-right-list-course-list-video1-row1 input {
  padding-right: 5px;
}

.CCDetails-Header-content-right-list-course-list-video1-row1 label {
  font-family: Montserrat;
  margin: 16px;
  font-size: 14px;
}

.CCDetails-Header-content-right-list-course-list-video1-row2 {
  display: flex;
  margin: 5px 0 0 29px;
}

.CCDetails-Header-content-right-list-course-list-video1-row2 img {
  width: 11px;
  margin-right: 10px;
}

.CCDetails-Header-content-right-list-course-list-video1-row2 p {
  font-family: Montserrat;
  font-size: 11px;
  color: #9e9090;
}

.CCDetails-Header-content-right-list-course-list-assign-row2 {
  display: flex;
  justify-content: flex-end;
}

.CCDetails-Header-content-right-list-course-list-assign-row2 button {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  background-color: #d9d9d9;
  border: none;
  padding: 6px 16px;
  border-radius: 5px;
  margin: 13px 0 13px 13px;
}

.upload {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  background-color: #d9d9d9;
  border: none;
  padding: 6px 16px;
  border-radius: 5px;
  margin: 13px 0 13px 13px;
}


.CCD-Main-container-content p {
  font-family: Montserrat;
  font-weight: 400;
  color: #555555;
}

.CCD-Main-container-btn button {
  background-color: #000;
  border: none;
  display: flex;
  align-items: center;
  padding: 8px 40px;
  border-radius: 12px;
  margin: 30px 10px;
}

.CCD-Main-container-btn button p {
  color: #fff;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
}

.CCD-Main-container-btn button img {
  width: 20px;
  margin-left: 10px;
}
