@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.CF-heading h3{
    font-family: outfit;
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
}

/* .CF-hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

.CF-box{
    display: flex;  
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 2px 2px 2px 2px;
    padding:1rem 2rem;
}


.CF-content{
    display: flex;
    flex-direction: column;
}

.CF-row1{
    display: flex;
    justify-content: space-between;
}

.CF-health-box{
    background-color: #E1F7E3;
    /* width: 25%; */
}
.CF-health-para{
    text-align: center;
    padding: 4px; 
    font-family: Inter;
    font-weight: 500;
    font-size: 10px;
    color: #15711F;
}

.CF-price{
    display: flex;
}

.CF-org-price{
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
}

.CF-row2{
    /* margin: 5px 0 ; */
}

.CF-row2-para{
    font-family: montserrat;
    padding: 3px 0;
    font-size: 18px;
    font-weight: 500;
}

.CF-row3{
    display: flex;
    justify-content: space-between;
    /* padding: 5px 0; */
    align-items: center;
}

.CF-row3-left{
    display: flex;
    width: 9vw;
    align-items: center;
}

.CF-row3-left img{
    width: 20%;
}

.CF-row3-name{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    color: #4E5566;
    position: relative;
    padding: 5px 7px;
}

.CF-row3-right{
    display: flex;
    align-items: center;
}

.CF-row3-star img{
    width: 85%;
}

.CF-row3-rating{
    position: relative;
    top: 2px;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 14px;
}

.CF-row3-rating span{
    font-weight: 500;
    color: #8C94A3;
}

.CF-row4{
    display: flex;
    justify-content: space-between;
    font-family: DM Sans;
    /* margin: 5px 0; */
    align-items: center;
}

.CF-row4-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CF-row4-user img{
    width: 14%;
    position: relative;
}

.CF-row4-username {
    font-weight: 500;
    font-size: 14px;
}

.CF-row4-username span{
    font-weight: 500;
    font-size: 14px;
    color: #8C94A3;
}

.CF-row4-hours{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CF-row4-hours img{
    width: 25%;
    position: relative;
}

.CF-row4-clock {
    font-weight: 500;
    font-size: 14px;
    color: #8C94A3;
}

.CF-row4-level{
    display: flex;
    justify-content: space-between;
}

.CF-row4-level img{
    width: 16%;
    position: relative;
}

.CF-row4-levels {
    font-weight: 500;
    font-size: 14px;
    color: #8C94A3;
}