@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main-rating-box{
    display: flex;
    flex-direction: row;
    
}
.reviews{
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    background-color: #E2FFF1;
   height: fit-content;
    border-radius: 0px 0px 20px 20px;
    gap: 20px;
    padding: 26px;
    /* z-index: 200; */
}
.reviews h3{
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 18px;
}
.review-head{
    display: flex;
    align-items: center;
    gap: 8px;
}
.review-head img{
    width: 20px;
    height: 20px;
}

.img{
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #555555;


}

.review-head-rating{
    font-family: Nunito Sans;
    font-size: 14px;
}

.review-head h2{
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    font-family: Nunito Sans;
}
/* Section-3 ratings */
.main-rating-box{
    position: relative;
    gap: 15px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.ratings-box{
    display: flex;
    flex-direction: column;
}
.ratings{
    display: flex;
    align-items: center;
    gap: 2px;
}
.ratings span{
    font-size: 14px;
    font-family: Montserrat;
    color: #555555;
}
.ratings img{
    width: 16px;
    height: 16px;
}
/* Ratings Bar */

/* Section-4 Person review */
.person-reviews{
    margin: 7px;
    height: auto;
}
.person-review-1{
    display: flex;
    align-content: center;
    align-items: flex-start;
    gap: 20px;
    height: 185px;
    border-top: 1px solid #EAEAEA;
    padding-top: 15px;
}
.person-review-1 img{
    width: 60px;
    height: 60px;
    border-radius: 43px;
    background: #F3F3F3;
}
.person-content{
    width: 100%;
    color: #555555;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.person-review-box{
    display: flex;
    justify-content: space-between;
    align-items: cente
}
.person-review-box .h-1{
    font-size: 14px;
    font-weight: 600;
    font-family: Nunito Sans;
    color: black;
}
.person-content .h-3{
    font-size: 12px;
    color: black;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 3px;
}

.person-content img{
    margin: 0;
    padding: 0;
    width: 14.74px;
    height: 11.25px;

}
.person-review-box .h-2{
    font-family: Jost;
    font-size: 14px;
}
.person-content .content-para1{
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
}


.Reviews-pages{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.Reviews-pages button{
    background-color: #E2FFF1;
    border: 1px solid #EAEAEA;
    border-radius: 23px;
    padding: 0 16px;
    margin: 0 3px;
    height: 40px;
    cursor: pointer;
    font-family: Jost;
    font-weight: 500;
    font-size: 16px;
}

.Reviews-pages button:focus{
    background-color: #000;
    border: 1px solid #EAEAEA;
    /* border-radius: 23px;
    padding: 0 16px;
    margin: 0 3px;
    height: 40px; */
    color: #fff;;
    /* font-family: Jost;
    font-weight: 500; */
    font-size: 16px;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    .reviews{
        gap: 10px;
        padding: 14px;
    }

    .reviews h3{
        font-size: 10px;
    }

    .review-head h2{
        font-size: 12px;
    }

    .review-head-rating{
        font-size: 8px;
    }

    .review-head img{
        width: 10px;
        height: 10px;
    }

    .review-head{
        align-items: start;
    }

    .ratings img{
        width: 10px;
        height: 10px;
    }

    .ratings span{
        font-size: 8px;;
    }

    .person-review-1 img{
        width: 30px;
        height: 30px;
    }

    .person-review-box .h-1{
        font-size: 10px;
    }

    .person-review-box .h-2{
        font-size: 10px;
    }

    .person-content .content-para1{
        font-size: 8px;
    }

    .person-content{
        gap: 8px;
    }

    .person-content .h-3{
        font-size: 8px;
        color: black;
        display: flex;
        align-items: center;
        align-content: center;
        gap: 3px;
    }

    .person-content img{
        width: 12px;
        height: 10px;
    
    }

    .person-review-1{
        gap: 14px;
        height: 140px;
        padding-top: 15px;
    }

    .Reviews-pages{
        margin: 1px 0;
    }

    .Reviews-pages button{
        padding: 0 6px;
        margin: 0 2px;
        height: 20px;
        font-size: 6px;
    }
}