.thankpage {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  height: 80%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}
.thank-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}

.thank-you h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.thank-you p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.thank-you .button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.thank-you .button-container button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.thank-you .button-container .view-order {
  background-color: #007bff;
  color: #fff;
}

.thank-you .button-container .continue-shopping {
  background-color: #fff;
  border: 1px solid #007bff;
  color: #007bff;
}

@media only screen and (max-width: 768px) {
  .thank-you h1 {
    font-size: 1.5rem;
  }

  .thank-you p {
    font-size: 0.8rem;
  }

  .thank-you .button-container {
    flex-direction: column;
  }

  .thank-you .button-container button {
    margin-bottom: 1rem;
  }
}
