.backgroundsvg{
    clip-path: polygon( 100% 0.06%,0% 0.06%,0% 99.314%,0% 99.314%,0.274% 99.145%,0.55% 98.983%,0.828% 98.828%,1.109% 98.68%,1.393% 98.538%,1.679% 98.403%,1.967% 98.274%,2.258% 98.153%,2.552% 98.038%,2.848% 97.93%,2.848% 97.93%,9.67% 95.766%,15.932% 94.23%,21.7% 93.254%,27.036% 92.769%,32.005% 92.704%,36.671% 92.99%,41.099% 93.558%,45.351% 94.339%,49.492% 95.262%,53.586% 96.26%,53.586% 96.26%,57.068% 97.112%,60.603% 97.924%,64.227% 98.655%,67.981% 99.262%,71.904% 99.703%,76.034% 99.935%,80.411% 99.916%,85.073% 99.603%,90.06% 98.956%,95.411% 97.93%,95.411% 97.93%,95.905% 97.834%,96.39% 97.765%,96.868% 97.724%,97.338% 97.71%,97.8% 97.722%,98.255% 97.762%,98.702% 97.828%,99.142% 97.92%,99.575% 98.038%,100% 98.182%,100% 0.06% );
}
.bottomsvg{
    clip-path: polygon( 3.505% 1.873%,3.505% 1.873%,15.69% 0.531%,26.148% -0.066%,35.284% -0.084%,43.502% 0.307%,51.208% 0.941%,58.805% 1.65%,66.699% 2.265%,75.295% 2.619%,84.998% 2.545%,96.212% 1.873%,96.212% 1.873%,106.12% 3.79%,112.09% 10.765%,114.804% 21.561%,114.944% 34.937%,113.191% 49.654%,110.228% 64.475%,106.737% 78.158%,103.399% 89.467%,100.896% 97.16%,99.91% 100%,-1.261% 100%,-1.261% 100%,-2.314% 97.412%,-4.984% 90.362%,-8.537% 79.92%,-12.24% 67.16%,-15.358% 53.15%,-17.157% 38.964%,-16.905% 25.672%,-13.866% 14.345%,-7.308% 6.055%,3.505% 1.873% );
}

.backgroundsvg2{
    clip-path: polygon( 0.013% 0%,99.987% 0%,99.987% 62.354%,99.987% 62.354%,99.996% 63.136%,99.798% 65.249%,99.053% 68.345%,97.422% 72.076%,94.564% 76.094%,90.141% 80.052%,83.812% 83.602%,75.239% 86.394%,64.081% 88.083%,50% 88.319%,50% 88.319%,35.919% 88.155%,24.761% 88.757%,16.188% 89.951%,9.859% 91.557%,5.436% 93.401%,2.578% 95.306%,0.947% 97.095%,0.202% 98.591%,0.004% 99.618%,0.013% 100%,0.013% 0% );
}
.bottomsvg2{
    clip-path: polygon( -0% 28.479%,-0% 28.479%,8.871% 20.051%,19.225% 15.528%,30.601% 13.91%,42.539% 14.199%,54.577% 15.396%,66.255% 16.501%,77.113% 16.517%,86.689% 14.444%,94.524% 9.283%,100.156% 0.036%,100.156% 0.036%,100.403% 14.291%,101.074% 26.76%,102.063% 37.509%,103.264% 46.606%,104.57% 54.118%,105.877% 60.113%,107.078% 64.659%,108.066% 67.823%,108.737% 69.671%,108.984% 70.272%,108.984% 70.272%,108.828% 71.069%,108.192% 73.194%,106.824% 76.249%,104.471% 79.835%,100.882% 83.555%,95.805% 87.009%,88.988% 89.8%,80.178% 91.528%,69.124% 91.797%,55.573% 90.207%,55.573% 90.207%,41.962% 88.333%,30.743% 87.831%,21.691% 88.424%,14.58% 89.835%,9.183% 91.788%,5.274% 94.007%,2.627% 96.214%,1.017% 98.133%,0.216% 99.487%,-0% 100%,-0% 100%,-0.718% 98.962%,-2.553% 95.99%,-5.026% 91.3%,-7.658% 85.109%,-9.971% 77.63%,-11.487% 69.08%,-11.726% 59.675%,-10.21% 49.629%,-6.461% 39.158%,-0% 28.479% );
}

.bw-border{
    --border-width: 3px;
  --border-radius: 12px;
  --color-1: #FFFFFF66;
  --color-2: #FFFFFF66;
}

.bw-border{
  position: relative;
  background: linear-gradient(to right,  #FFFFFF66, #FFFFFF00),
    linear-gradient(to right, #FFFFFF00, #FFFFFF66);
  background-position: var(--border-radius) 0, var(--border-radius) 100%;
  background-repeat: no-repeat;
  background-size: calc(100% - var(--border-radius) - var(--border-radius))
    var(--border-width);
  border-radius: var(--border-radius);
}

.bw-border:before,
.bw-border:after {
  content: "";
  display: block;
  position: absolute;
  width: var(--border-radius);
  top: 0;
  bottom: 0;
}

.bw-border:before {
    left: 0;
    border: var(--border-width) solid var(--color-1);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-right-color: transparent;
  }
  
  .bw-border:after {
    right: 0;
    border: var(--border-width) solid var(--color-2);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-left-color: transparent;
  }