.backgroundsvg{
    clip-path: polygon( 100% 0.06%,0% 0.06%,0% 99.314%,0% 99.314%,0.274% 99.145%,0.55% 98.983%,0.828% 98.828%,1.109% 98.68%,1.393% 98.538%,1.679% 98.403%,1.967% 98.274%,2.258% 98.153%,2.552% 98.038%,2.848% 97.93%,2.848% 97.93%,9.67% 95.766%,15.932% 94.23%,21.7% 93.254%,27.036% 92.769%,32.005% 92.704%,36.671% 92.99%,41.099% 93.558%,45.351% 94.339%,49.492% 95.262%,53.586% 96.26%,53.586% 96.26%,57.068% 97.112%,60.603% 97.924%,64.227% 98.655%,67.981% 99.262%,71.904% 99.703%,76.034% 99.935%,80.411% 99.916%,85.073% 99.603%,90.06% 98.956%,95.411% 97.93%,95.411% 97.93%,95.905% 97.834%,96.39% 97.765%,96.868% 97.724%,97.338% 97.71%,97.8% 97.722%,98.255% 97.762%,98.702% 97.828%,99.142% 97.92%,99.575% 98.038%,100% 98.182%,100% 0.06% );
}
.bottomsvg{
    clip-path: polygon( 3.505% 1.873%,3.505% 1.873%,15.69% 0.531%,26.148% -0.066%,35.284% -0.084%,43.502% 0.307%,51.208% 0.941%,58.805% 1.65%,66.699% 2.265%,75.295% 2.619%,84.998% 2.545%,96.212% 1.873%,96.212% 1.873%,106.12% 3.79%,112.09% 10.765%,114.804% 21.561%,114.944% 34.937%,113.191% 49.654%,110.228% 64.475%,106.737% 78.158%,103.399% 89.467%,100.896% 97.16%,99.91% 100%,-1.261% 100%,-1.261% 100%,-2.314% 97.412%,-4.984% 90.362%,-8.537% 79.92%,-12.24% 67.16%,-15.358% 53.15%,-17.157% 38.964%,-16.905% 25.672%,-13.866% 14.345%,-7.308% 6.055%,3.505% 1.873% );
}

.backgroundsvg2{
    clip-path: polygon( -0.512% 0%,99.982% 0%,99.982% 57.598%,99.982% 57.598%,99.998% 58.361%,99.816% 60.419%,99.091% 63.422%,97.475% 67.021%,94.624% 70.867%,90.192% 74.611%,83.832% 77.903%,75.2% 80.395%,63.95% 81.738%,49.735% 81.582%,49.735% 81.582%,35.473% 81.27%,24.096% 82.19%,15.276% 84.058%,8.689% 86.594%,4.009% 89.514%,0.91% 92.536%,-0.933% 95.378%,-1.847% 97.758%,-2.156% 99.392%,-2.187% 100%,-0.512% 0% );
}
.bottomsvg2{
    clip-path: polygon( -0% 33.743%,-0% 33.743%,8.882% 26.02%,19.267% 21.872%,30.687% 20.383%,42.679% 20.64%,54.776% 21.728%,66.514% 22.733%,77.425% 22.739%,87.046% 20.834%,94.911% 16.101%,100.555% 7.628%,100.555% 7.628%,104.336% 0.806%,107.035% 0.696%,108.81% 5.886%,109.826% 14.964%,110.241% 26.52%,110.22% 39.139%,109.921% 51.413%,109.508% 61.927%,109.142% 69.271%,108.984% 72.033%,108.984% 72.033%,108.828% 72.763%,108.192% 74.71%,106.824% 77.508%,104.471% 80.794%,100.882% 84.202%,95.805% 87.366%,88.988% 89.923%,80.178% 91.507%,69.124% 91.753%,55.573% 90.296%,55.573% 90.296%,41.895% 88.598%,30.494% 88.189%,21.174% 88.808%,13.737% 90.193%,7.985% 92.083%,3.722% 94.215%,0.749% 96.329%,-1.13% 98.163%,-2.112% 99.455%,-2.396% 99.943%,-2.396% 99.943%,-3.047% 98.973%,-4.699% 96.199%,-6.904% 91.827%,-9.21% 86.063%,-11.169% 79.111%,-12.33% 71.178%,-12.243% 62.469%,-10.46% 53.19%,-6.529% 43.546%,-0% 33.743% );
}

.bw-border{
    --border-width: 3px;
  --border-radius: 12px;
  --color-1: #FFFFFF66;
  --color-2: #FFFFFF66;
}

.bw-border{
  position: relative;
  background: linear-gradient(to right,  #FFFFFF66, #FFFFFF00),
    linear-gradient(to right, #FFFFFF00, #FFFFFF66);
  background-position: var(--border-radius) 0, var(--border-radius) 100%;
  background-repeat: no-repeat;
  background-size: calc(100% - var(--border-radius) - var(--border-radius))
    var(--border-width);
  border-radius: var(--border-radius);
}

.bw-border:before,
.bw-border:after {
  content: "";
  display: block;
  position: absolute;
  width: var(--border-radius);
  top: 0;
  bottom: 0;
}

.bw-border:before {
    left: 0;
    border: var(--border-width) solid var(--color-1);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-right-color: transparent;
  }
  
  .bw-border:after {
    right: 0;
    border: var(--border-width) solid var(--color-2);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-left-color: transparent;
  }

  .hire-icon-color-invert{
    filter: brightness(1) invert(1);
  }