/* Section-2 Comment box */

.Comment-box{
    margin-top: 15px;
}

.faq-comment{
        width: 700px;
        height: 58px;
        /* background-color: red; */
        /* top: 608px; */
}
.faq-comment h3{
    font-size: 18px;
    font-weight: 600;
    font-family: Nunito Sans;
}
.faq-comment p{
    font-size: 14px;
    font-weight: 400;
    font-family: Nunito Sans;
    color: #555555;

}
/* SEction-3 FAQ form */
.faq-form{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 20px 0;
}
.form-inputs{
    display: flex;
    gap: 10px;  
}
.form-inputs input{
    width: 50%;
    height: 37px;
    border-radius: 4px;
    border: 1px solid #9D9D9D;
    outline: none;
    padding-left: 10px;
    font-family: Nunito Sans;
}
.form-comment textarea{
    width: 100%;
    height: 80px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #9D9D9D;
    padding-left: 10px;
    padding-top: 5px;
    font-family: Nunito Sans;
}

.form-check{
    display: flex;
    align-items: center;
}

.form-check p{
    font-size: 14px;
    color: #555555;
    font-family: Montserrat;
}
.form-check input{
    width: 10px;
    height: 10px;
}
.faq-btn button{
    padding: 6px 15px;
    border-radius: 24px;
    background: #1DBF73;
    color: #fff;
    font-family: Nunito Sans;
    font-size: 14px;
}