.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75); /* High opacity */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    width: 90%;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    outline: none;
    z-index: 1001;
  }
  