
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}


.Certificate-content{
    display: flex;
}

.Certificate-content-left-box{
    width: 797px;
    margin: 20px 0 0 53px;
    border: 2px solid #EAEAEA;
    height: 176px;
    border-radius: 14px;
    display: flex;    
}

.Certificate-content-left-box-img img{
    width: 355px;
    height: 100%;
}

.Certificate-content-left-box-content{
    width: 100%;
    margin: 15px;
}

.Certificate-content-left-box-row1 p{
    font-family: Montserrat;
    font-size: 12px;
}

.Certificate-content-left-box-row1 p span{
    color: #555555;
}

.Certificate-content-left-box-row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Certificate-content-left-box-row2-left p{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    margin: 8px 0;
}

.Certificate-content-left-box-row2-right p{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    margin: 8px 0;
    color: #1DBF73;
}

.Certificate-content-left-box-row3{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.Certificate-content-left-box-row3-left{
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
    width: 58%;
}

.Certificate-content-left-box-row3-left-clock{
    display: flex;
    align-items: center;
}

.Certificate-content-left-box-row3-left-clock img{
    width: 15px;
    margin-right: 3px;
}

.Certificate-content-left-box-row3-left-clock p{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
    color: #555555;
}

.Certificate-content-left-box-row3-right p{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    margin: 8px 0;
    color: #1DBF73;
}
.Certificate-content-left-box-row4{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.Certificate-content-left-box-row4-left p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    margin: 8px 0;
}   
.Certificate-content-left-box-row4-right p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    margin: 8px 0;
    color: #1DBF73 ;
}   


.Certificate-content-right{
    width: auto;
    margin: 31px 87px;
}

.Certificate-content-right-row1 p{
    font-family: outfit;
    font-weight: 600;
    font-size: 18px;
}

.Certificate-content-right-row2 button{
    margin-top: 22px;
    font-family: outfit;
    font-weight: 600;
    font-size: 18px;
    background-color: #fff;
    border-radius: 6px;
    padding: 14px 0;
    width: 307px;
    border: none;
    text-align: left;
    box-shadow: 5px 5px 5px #EAEAEA;
}



