.features-baloon{
    background-image: url('../../../public/f1.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top left;
}
.features-baloon-blue{
    background-image: url('../../Assets/Icons/bluebaloon.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top left;
}
.features-baloon-green{
    background-image: url('../../Assets/Icons/greenbaloon.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top left;
}