@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.cd-Header-container{
    background-color: black;
    width: 100%;
    height: 220px;
}

.Header-btn{
    display: inline-block;
    margin: 11px 0 0 8px;
}

.Header-btn Link{
    background-color: #fff;
    border: 1px solid #EAEAEA;
    border-radius: 23px;
    padding: 0px 9px;
    margin: 0 3px;
    height: 29px;
    cursor: pointer;
    font-family: Jost;
    font-weight: 500;
    font-size: 16px;
    
}

.Header-btn Link img{
    width: 10px;
}

.Header-main{
    display: flex;
    flex-direction: row;
}

.Header-content{
    margin: 9px 0 0 228px;
    width: 496px;
}

.Header-content-row1 h2{
    font-family: Outfit;
    font-weight: 600;
    font-size: 27px;
    color: #fff;
    text-align: left;
}

.Header-content-row2{
    display: flex;
    justify-content: space-between;
    margin: 14px 41px 14px 0;
}

.Header-content-row2-clock{
    display: flex;
}

.Header-content-row2-clock img{
    width: 15px;
    position: relative;
    top: -1px;
    margin-right: 3px;
}

.Header-content-row2-clock p{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
    color: #9D9D9D;
}

.Header-content-row2-hat{
    display: flex;
}

.Header-content-row2-hat img{
    width: 17px;
    position: relative;
    top: -1px;
    margin-right: 3px;
}

.Header-content-row2-hat p{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
    color: #9D9D9D;
}

.Header-content-row2-level{
    display: flex;
}

.Header-content-row2-level img{
    width: 12px;
    position: relative;
    top: -1px;
    margin-right: 3px;
}

.Header-content-row2-level p{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
    color: #9D9D9D;
}

.Header-content-row2-files{
    display: flex;
}

.Header-content-row2-files img{
    width: 12px;
    position: relative;
    top: -1px;
    margin-right: 3px;
}

.Header-content-row2-files p{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
    color: #9D9D9D;
}

.Header-content-row2-faq{
    display: flex;
}

.Header-content-row2-faq img{
    width: 12px;
    position: relative;
    top: -1px;
    margin-right: 3px;
}

.Header-content-row2-faq p{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
    color: #9D9D9D;
}

.Header-box{
    width: 297px;
    margin-left: 123px;
    border: 2px solid #EAEAEA;
    border-radius: 19px;
}

.Header-box-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 17px 34px;
    align-items: center;
}

.Header-box-img img{
    width: 100%;
}

.Header-box-content-price p{
    font-family: jost;
    font-weight: 400;
    font-size: 19px;
}

.Header-box-content-price p span{
    color: #9D9D9D;
    text-decoration: line-through;
}


.Header-box-content-btn button{
    font-family: jost;
    font-size: 14.84px;
    padding: 9px 25px 9px 25px;
    background-color: #1DBF73;
    color: #fff;
    border: none;
    border-radius: 50px;
}