
.button-resume {
    display: inline-block;
    border-radius: 50px;
    background-color: #1DBF73;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 16px 24px;
    transition: all 0.5s;
    cursor: pointer;
   }
   
   .button-resume span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   .button-resume span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   .button-resume:hover span {
    padding-right: 15px;
   }
   
   .button-resume:hover span:after {
    opacity: 1;
    right: 0;
   }
  

   @media screen and (min-width: 720px) and (max-width: 1024px) {
    .button-resume {
        font-size: 14px;
        padding: 12px 20px;
    }
   }

   @media screen and (max-width: 480px) {
    .button-resume {
        font-size: 8px;
        padding: 8px 10px;
    }
   }