<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="task29.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <div class="container">
        <div class="first">
            <h2>Need a Direct Line?</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adi<br>
                 Ex odit eum vero sapiente odio laboriosam!</p>

                 <div class="contact-info">
                    <i class="fas fa-phone"></i>
                   <!-- <div>
                        Phone: <br>
                        +123456789
                    </div>
                </div>
                <br>
               
                <div class="contact-info">
                    <i class="fas fa-envelope"></i>
                    <div>
                        Email: <br>
                        example@mail.com
                    </div>
                </div> -->
                <div>
                    <span class="label">Phone:</span><br>
                    <span class="value">+123456789</span>
                </div>
            </div>
            <div class="contact-info">
                <i class="fas fa-envelope"></i>
                <div>
                    <span class="label">Email:</span><br>
                    <span class="value">loveena@mail.com</span>
                </div>
          
        </div>
        <img src="/map1.png" class="floating-image">
    </div>

        <div class="second">
            <h2>Contact us</h2>
            <div class="para">
                <p>Your email address will not be pubnlished. Required field are marked</p>
            </div>
            <form action="#">
                <!-- Phone and Email input boxes in one line -->
                <div class="form-row">
                    <input type="tel" name="phone" placeholder="Phone" required>
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <!-- Comment textarea -->
                <div class="form-row">
                    <textarea name="comment" placeholder="Comment" required></textarea>
                </div>
                <div class="formm">
                    <input type="checkbox" id="save-info" name="save-info">
                    <label for="save-info">Save my name and email in this browser for the next time I comment</label>
                </div>
                <!-- Post comment button -->
                <div class="formmm">
                    <button type="submit" class="post-comment-btn">Post comment</button>
                </div>

        </div>

    
    </div>
    
</body>
</html>