/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #ffffff;
}
.chatbot-toggler {
  position: absolute;
  bottom: 0px;
  right: 20px;
  outline: none;
  border: none;
  height: 70px;
  width: 70px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: -5px;
  bottom: 20px;
  z-index: 9999999999999999999917;
  width: 25vw;
  height: 70vh;
  /* background: #fff; */
  background: rgb(255, 255, 255);
  /* background-color: #1dbf73; */
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
  z-index: 9999999999999999999917 !important;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 20px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  /* background: #58b310; */
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.chatbot .header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
.header h2 {
  font-size: 1.4rem;
  font-family: "Gorditas", sans-serif;
}

.chatbot .chatbox {
  overflow-y: auto;
  bottom: 10px;
  height: 60vh;
  /* padding: 30px 20px 100px; */
  font-family: "Montserrat", sans-serif;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 0px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  align-items: center;
  justify-items: center;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  /* background: #58b310; */
  /* border-radius: 4px; */
  margin: 0 10px 9px 0;
  padding: 5px;
}
.chatbox .chat p {
  white-space: pre-wrap;
  margin-right: 4px;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #000000;
  font-size: 0.95rem;
  background: #ffffff;
}
.chatbox .incoming p {
  border-radius: 0px 20px 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.chatbox .chat p.error {
  color: #ffffff;
  background: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.chatbox .incoming p {
  color: #ffffff;
  background: #000000;
}
.chatbot .chat-input {
  display: flex;
  font-family: "Montserrat", sans-serif;
  gap: 5px;
  position: absolute;
  align-items: center;
  bottom: 0;
  width: 100%;
  /* background: #fff; */
  background: rgba(255, 255, 255, 0);
  padding: 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.chat-input textarea {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  resize: none;
  padding: 10px 40px 5px 10px;
  font-size: 0.85rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.chat-input span {
  align-self: flex-end;
  color: #58b310;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}
