.faq-main-container{
    position: relative;
    height: 504px;
    background: #F5F5F5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.faq-container{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 700px;
    height: 444px;
    left: 20px;
    top: 30px;
    gap: 20px;

}
.faq-box{
    background: #fff;
    gap: 20px;
    display: flex;
    width: 660px;
    height: 64px;
    padding: 10px 30px 5px 30px;
    border-radius: 8px;
    gap: 20px;
}
.faq-box h3{
    width: 700px;
    height: 24px;
    border-radius: 8px;
    border: 1px 0px 0px 0px;
    width: 730px;
    height: 24px;
    border-radius: 8px;
    gap: 10px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;


}
.faq-box img{
    width: 24px;
    height: 24px;  
    padding: 16px 0; 

}
.faq-box-descrip{
    background: #fff;
    width: 660px;
    height: 192px;
    top: 84px;
    padding: 5px 30px 5px 30px;
    border-radius: 8px;
    gap: 20px;
    display: none;
}
.faq-box-descrip h3{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #1DBF73;
}
.faq-box-descrip p{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}
