.overview {
  /* font-size: 14px; */
  color: white;
  border-radius: 0 0 20px 20px;
  padding: 24px 30px;
  gap: 30px;
  min-height: 425px;
}

.overview p {
  /* line-height: 27px; */
  color: white;
}

.overview ul {
  list-style: none;
  padding-left: 0;
}

.overview li {
  /* line-height: 27px; */
  /* position: relative; */
  color: white;
}

.overview li::before {
  /* content: '•'; */
  color: white;
  /* font-size: 20px; */
  /* margin-right: 12px; */
  /* margin-left: 12px;  */
}

@media (min-width: 320px) and (max-width: 480px) {
  .overview {
    padding: 10px 8px;
    min-height: 0;
  }
}
