.curriculum{
    border-radius: 0 0 20px 20px;
    padding: 12px 30px;
    gap: 10px;
    background-color: #F5F5F5;
}

.curriculum p:first-child{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #555555;
}

.lesson-container{
    background: #fff;
    border-radius: 8px;
    padding: 16px 20px 16px 20px;
    margin-top: 12px;
    margin-bottom: 12px;
}


/* lesson-container-title */
.lesson-container-title{
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.lesson-container-title-left, .lesson-container-title-right{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.lesson-container-title-right{
    gap: 23px;
}

.lesson-container-title-left p{
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    color: black;
}







/* lesson-container-content */
.lesson-container-content{
    display: flex;
    justify-content: space-between;
    padding-left: 44px;
}

.lesson-container-content-left, .lesson-container-content-right{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.lesson-container-content-right{
    gap: 40px;
}

.lesson-container-content-left p{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: black;
}

.lesson-container-content-right button{
    padding: 4px 12px 4px 12px;
    border-radius: 8px;
    width: 90px;
    height: 32px;
    line-height: 24px;
    color: #fff;
    font-weight: 400px;
    font-size: 16px;
    background: #1DBF73;
    border: none;
}


/* Classes to be applied when toggle is active */
.icon-arrow img {
    transition: transform 0.2s ease;
}
  
.icon-arrow img.icon-rotated {
    transform: rotate(180deg);
}
  
.lesson-container-title-left .para-color{
    color: #1DBF73;
}