@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.wishlist-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
/* background-color: #000; */
}

.wishlist-box{
    width: 625px;
    margin: 20px 0 0 32px;
    border: 2px solid #EAEAEA;
    height: 150px;
    border-radius: 14px;
    display: flex;    
}

.wishlist-box-img img{
    width: 247px;
    height: 100%;
}

.wishlist-box-content{
    width: 356px;
    margin: 11px 7px 11px 11px;
}

/* .wishlist-box-row1{
    border: 1px solid black;
} */

.wishlist-box-row1 p{
    font-family: Montserrat;
    font-size: 10.5px;
}

.wishlist-box-row1 p span{
    color: #555555;
}

.wishlist-box-row2 p{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    margin: 8px 0;
}

.wishlist-box-row3{
    display: flex;
    justify-content: space-between;
    margin: 14px 0;
}

.wishlist-box-row3-clock{
    display: flex;
}

.wishlist-box-row3-clock img{
    width: 15px;
    position: relative;
    top: -1px;
    margin-right: 3px;
}

.wishlist-box-row3-clock p{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
    color: #555555;
}

.wishlist-box-row3-hat{
    display: flex;
}

.wishlist-box-row3-hat img{
    width: 17px;
    position: relative;
    top: -1px;
    margin-right: 3px;
}

.wishlist-box-row3-hat p{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
    color: #555555;
}

.wishlist-box-row3-level{
    display: flex;
}

.wishlist-box-row3-level img{
    width: 12px;
    position: relative;
    top: -1px;
    margin-right: 3px;
}

.wishlist-box-row3-level p{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
    color: #555555;
}

.wishlist-box-row3-files{
    display: flex;
}

.wishlist-box-row3-files img{
    width: 12px;
    position: relative;
    top: -1px;
    margin-right: 3px;
}

.wishlist-box-row3-files p{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
    color: #555555;
}

.hr-line{
    color: #555555;
    margin-top: 32px;
}

.wishlist-box-row4{
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
}

.wishlist-box-row4-price p{
    color: #555555;
    font-family: Jost;
    font-weight: 400;
    font-size: 11px;
}

.wishlist-box-row4-price p span{
    color: #1DBF73;
    font-family: Montserrat;
    font-weight: 500;
}

.wishlist-box-row4-more p{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 11px;
}

.wishlist-pages{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.wishlist-pages button{
    background-color: #fff;
    border: 1px solid #EAEAEA;
    border-radius: 23px;
    padding: 0 16px;
    margin: 0 3px;
    height: 40px;
    cursor: pointer;
    font-family: Jost;
    font-weight: 500;
    font-size: 16px;
}

