.App {
  text-align: center;
}

/* html {
  scroll-behavior: smooth;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.add_gradient {
  background: radial-gradient(
    124.14% 368.76% at 83.44% 60.01%,
    #0f2027 0%,
    #0b1418 0.01%,
    #203a43 100%
  );
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-gradient-to-outside {
  background-image: radial-gradient(
    circle at center,
    #e2ffff 60%,
    rgba(0, 0, 0, 0) 77%
  );
}
