.App {
  text-align: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.add_gradient {
  background: radial-gradient(
    124.14% 368.76% at 83.44% 60.01%,
    #0f2027 0%,
    #0b1418 0.01%,
    #203a43 100%
  );
}
.alternatebg > div:nth-child(2n){
   background-color: #E8E8E8;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-gradient-to-outside {
  background-image: radial-gradient(
    circle at center,
    #e2ffff 60%,
    rgba(0, 0, 0, 0) 77%
  );
}

.react-player__preview {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
#carousel__arr{
  position: relative;
}

#carousel__arr .splide__arrow.splide__arrow--prev {
  background-color: rgba(29, 191, 115,0.5);
  color: white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  position: absolute;
  left: -2vw;
  top: 50%;
  transform: translateY(-50%);
  color: var(--body);
}


#carousel__arr .splide__arrow.splide__arrow--next {
  background-color: rgba(29, 191, 115,0.5);
  color: white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  position: absolute;
  right: -2vw;
  top: 50%;
  transform: translateY(-50%);
}

@media(max-width:500px){
  #carousel__arr .splide__arrow.splide__arrow--prev {
display: none;
}


#carousel__arr .splide__arrow.splide__arrow--next {
  display: none;
}
}
